<link rel="stylesheet" href="/css/bootstrap.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
<nav class="navbar navbar-dark sticky-top bg-info align-self-center">
    <a class="navbar-brand" href="/"><img src="/assets/images/logo1.JPG" height="120" width="150" alt="header-image"></a>
    <!-- https://www.pixelstalk.net/mangekyou-sharingan-wallpapers-hd/ -->
    <h2 class="font-weight-bold text-dark pr-5">Get Active</h2>
    <nav aria-label="breadcrumb " class="nav-header">
        <ul class="nav nav-pills">
            <li><a class="navbar-brand text-uppercase" href="/user/login">Login <span class="vl">|</span></a></li>
            <li><a class="navbar-brand text-uppercase" href="/user/login">Sign-up <span class="vl">|</span></a></li>
            <li><a class="navbar-brand text-uppercase" href="/connection/all">Connections <span class="vl">|</span></a>
            </li>
            <li><a class="navbar-brand text-uppercase" href="/about">About <span class="vl">|</span></a></li>
            <li><a class="navbar-brand text-uppercase" href="/contact">Contact Us</a></li>
        </ul>
    </nav>
</nav>